h1{
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clickMe {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: gold;
}